**/.bin/
**/.config/Android\ Open\ Source\ Project/
**/.config/GIMP/
**/.config/Google/
**/.config/LambdaSharp/
**/.config/NuGet/
**/.config/Postman/
**/.config/Slack/
**/.config/Thunar/
**/.config/VIA/
**/.config/VSCodium/
**/.config/ahoviewer/
**/.config/astro/
**/.config/autostart/
**/.config/cef_user_data/
**/.config/chromium/
**/.config/clerk/
**/.config/coc/
**/.config/dconf/
**/.config/discord/
**/.config/discordcanary/
**/.config/filezilla/
**/.config/fontforge/
**/.config/galculator/
**/.config/google-chrome/
**/.config/htop/
**/.config/ibus/
**/.config/menus/
**/.config/mopidy/
**/.config/neofetch/
**/.config/nextjs-nodejs/
**/.config/octave/
**/.config/pulse/
**/.config/qBittorrent/
**/.config/qmk/
**/.config/systemd/
**/.config/unity3d/
**/.config/xfce4/
**/.emacs.d/.cache/
**/.vim/autoload/
**/.vim/plugged/
**/.vim/sessions/

**/.config/QtProject.conf
**/.config/configstore
**/.config/kdeglobals
**/.config/kdenliverc
**/.config/mimeapps.list
**/.config/okularpartrc
**/.config/okularrc
**/.config/pavucontrol.ini
**/.config/trackma/accounts.dict
**/.config/zoomus.conf
**/.mpd/mpd.log
**/.mpd/pid
**/.mpd/state
utils/config/vfio/win10.xml

*.bak
*.uuid

.DS_Store
