.config/mimeapps.list
.config/Trolltech.conf
.mpd/mpd.log

.bin/
.config/ahoviewer/
.config/autostart/
.config/Code/Cache*
.config/Code/GPUCache/
.config/Code/logs/
.config/dconf/
.config/discord/
.config/Electron
.config/galculator/
.config/gcloud/
.config/htop/
.config/inkscape/
.config/matplotlib/
.config/mopidy/
.config/neofetch/
.config/NuGet/
.config/octave/
.config/pulse/
.config/qBittorrent/
.config/Thunar/
.config/xfce4/
.emacs.d/.cache/

*.bak
