.config/mimeapps.list
.config/zoomus.conf
.config/trackma/accounts.dict
.mpd/mpd.log
.mpd/pid
.mpd/state

.bin/
.config/ahoviewer/
.config/autostart/
.config/cef_user_data/
.config/coc/
.config/configstore
.config/dconf/
.config/discord/
.config/fontforge/
.config/GIMP/
.config/google-chrome/
.config/htop/
.config/ibus/
.config/LambdaSharp/
.config/mopidy/
.config/neofetch/
.config/NuGet/
.config/pulse/
.config/qBittorrent/
.config/Thunar/
.config/VSCodium/
.emacs.d/.cache/
.vim/autoload/
.vim/plugged/
.vim/sessions/

*.bak
*.uuid
