[user]
	email = jesser.sison@live.com
	name = Jesser Sison
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[core]
	editor = nvim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
